<div>
    <h3>User info</h3>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
    <table>
        <tbody>
            <tr></tr>
            <tr>
                <th>name</th>
                <th><%= @user.name %></th>
            </tr>
            <tr>
                <th>introduction</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>
<h3>New Book</h3>
<%= form_with model: @book, local:true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :opinion %>
    <%= f.submit 'Create Book' %>
<% end %>
<table>
    <h1>Book detail</h1>
    <tbody>
        <tr>
            <td>
                <a><%= attachment_image_tag image.user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
                <br><%= @book.user.name %></br>
                </a>
            </td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td></td>
            <td><%= link_to "Delete", book_path(@book), method: :delete %></td>
            <td><%= link_to "Edit", book_path(@book) %></td>
        </tr>
    </tbody>
</table>
